.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

label {
  align-items: center;
  display: flex;
  justify-content: center;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

.album-card {
  align-items: center;
  background-color: rgb(206, 205, 205);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.album-card:hover {
  background-color: rgb(148, 148, 148);
}

.album-img {
  width: 150px;
}

.header-bar {
  align-items: center;
  background-color: rgb(146, 182, 151);
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 30px;
}

.nav-bar a {
  margin: 0 20px;
}
